.meno {
	font-family:"Calibri";
}

.meno code {
	display:block;
	background-color:whitesmoke;
	color:dimgrey;
	font-family:'consolas';
}
.meno textarea {
    resize: none;
}

.meno h1,h2,h3,h4,h5,h6 {margin-bottom:-10px;}

.meno a {
	color:skyblue;
	text-decoration:none;
	border-bottom:1px solid lightgrey;
	border-top:1px solid lightgrey;
}

.meno article {font-family:'Consolas';}

.meno nav {
	margin:5px;
	display:inline-block;
	padding:0 5px;
	border-right:2px solid lightgrey;
	border-left:2px solid lightgrey;
	background-color:rgb(250,250,250);
}
.meno nav a {border:none;}

.meno blockquote { font-style: italic; margin-left:1em;}
.meno blockquote:before {content:"'' "}
.meno blockquote:after {content:" ''"}

.meno ul {
	display:inline-block;
	padding:5px;
	margin-left:20px;
	border-top:2px solid lightgrey;
	border-bottom:2px solid lightgrey;
}
.meno ul ul {
	border:none;
	padding:2px;
}
.meno ul li {
	font-size:1.25em;
	font-weight:bold;
	list-style-type: none;
}
.meno ul li:before {
	content:"| ";
}
.meno ul ul li {
	font-size:1.15em;
	font-weight:bold;
	color:dimgrey;
}
.meno ul ul li:before {
	content:": ";
	color:black;
}
.meno ul ul ul li {
	font-size:1.1em;
	font-weight:normal;
	color:grey;
}
.meno ul ul ul li:before {
	content:"· ";
	color:black;
}
.meno ul ul ul ul li {
	font-size:1em;
	font-weight:normal;
	color:black;
}
.meno ul ul ul ul li:before {
	content:"- ";
	color:black;
}
.meno ol {
	display:inline-block;
	padding:5px;
	margin-left:20px;
	border-top:2px solid lightgrey;
	border-bottom:2px solid lightgrey;
}
.meno ol ol {
	border:none;
	padding:2px;
}
.meno ol li {
	font-size:1.25em;
	font-weight:bold;
}
.meno ol ol li {
	font-size:1.15em;
	font-weight:bold;
	color:dimgrey;
}
.meno ol ol ol li {
	font-size:1.1em;
	font-weight:normal;
	color:grey;
}
.meno ol ol ol ol li {
	font-size:1em;
	font-weight:normal;
	color:black;
}

.meno [meno-inblock]{
	display:inline-block;
}
.meno [meno-underline]{
	text-decoration:underline;
}

.meno [meno-tip] {
    position: relative;
	display:inline;
	border-bottom:1px dotted pink;
}
.meno [meno-tip] [meno-tipbox] {
    font-size:13px;
    visibility: hidden;
    min-width:100px;
    background-color: rgba(50,50,50,0.8);
    color: white;
    border-radius: 10px;
    border-bottom-left-radius:0;
    border-top-right-radius:0;
    padding:3px 8px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
}
.meno [meno-tip] [meno-tipbox]:before {
    content: "";
    position: absolute;
    bottom:0;
    left: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent pink pink;
}
.meno [meno-tip]:hover [meno-tipbox] {
    visibility: visible;
    opacity: 1;
}
.meno [meno-tip]:hover { 
	background-color:rgba(250,200,200,0.1);
	cursor:help; 
}

.meno ::selection{background-color:orange;color:white;}