.meno {
	font-family:Calibri;
}

.meno code {
	display:block;
	background-color:whitesmoke;
	color:dimgrey;
	font-family:'consolas';
}
.meno samp {
	background-color:rgb(253,253,253);
	color:grey;
	font-variant:petite-caps;
}

.meno details {
	border-bottom:2px dotted lightgrey;
	border-right:2px dotted lightgrey;
}
.meno details span {
	color: grey;
	font-size:0.9em;
	padding-left:20px;
	display:block;
}

.meno h1,.meno h2,.meno h3,.meno h4,.meno h5,.meno h6 {
	margin: 4px auto;
}

.meno a {
	color:skyblue;
	text-decoration:none;
	border-bottom:1px solid lightgrey;
}

.meno nav {
	margin:5px;
	display:inline-block;
	padding:0 5px;
	border-right:2px solid lightgrey;
	border-left:2px solid lightgrey;
	background-color:rgb(250,250,250);
}
.meno nav a {border:none;}

.meno blockquote { font-style:italic; margin-left:1em;}
.meno blockquote::before {content:open-quote}
.meno blockquote::after {content:close-quote}

.meno [-list] span {
	margin-left:15px;
	font-size:0.8em;
	color:dimgrey;
}
.meno [-list] {
	padding:5px;
	border-left:2px solid lightgrey;
	list-style-position: inside;
}
.meno [-list] [-list]  {
	border:none;
	padding:2px;
	margin-left:20px;
}
.meno [-list]>li {
	font-size:1.2em;
	font-weight:bold;
}
.meno ul[-list]>li {
	list-style-type: none;
}
.meno ul[-list]>li:before {
	content:'| ';
}
.meno [-list] [-list]>li {
	font-size:1.1em;
	color:dimgrey;
}
.meno [-list] ul[-list]>li:before {
	content:': ';
	color:black;
}
.meno [-list] [-list] [-list]>li {
	font-size:1.05em;
	font-weight:normal;
	color:grey;
}
.meno [-list] [-list] ul[-list]>li:before {
	content:'· ';
}
.meno [-list] [-list] [-list] [-list]>li {
	font-size:1em;
	font-weight:normal;
	color:black;
}
.meno [-list] [-list] [-list] ul[-list]>li:before {
	content:'- ';
	color:black;
}

.meno [-hr]{
	height:2px;
	margin:1em 0;
}
.meno [-col] p{
	margin-top:0;
}
.meno [-inblock]{
	display:inline-block;
}
.meno [-tip] {
	position: relative;
	display:inline;
	border-bottom:1px dotted pink;
}
.meno [-tip]::after {
	content:attr(-tip);
	position: absolute;
	bottom: 100%;
	left: 50%;
	opacity: 0;
	visibility:hidden;
	transition: opacity 0.3s;
	font-size:13px;
	min-width:100px;
	background-color: rgba(50,50,50,0.8);
	color: white;
	border-bottom:2px solid orange;
	border-radius: 10px;
	border-bottom-left-radius:0;
	border-top-right-radius:0;
	padding:3px 8px;
}
.meno [-tip]:hover::after {opacity:1;visibility:visible;}
.meno [-tip]:hover {
	border:1px solid orange;
	margin:-1px;
	background-color:rgba(250,250,100,0.1);
	cursor:help;
}

.meno ::selection{background-color:orange;color:white;}

